<link rel="stylesheet" href="{{ url_for('static', filename='componentes/navbar.css') }}" />
<link rel="stylesheet" href="../../static/componentes/navbar.css" />
<nav>
    <div class="logo">
        <!-- <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo"> -->
        <img src="../../static/assets/logo.png" alt="Logo">
        <span>CSPL</span>
    </div>
    <ul>
        <li><a href="/estoque" style="background-color: #01bd01;">Estoque</a></li>
        <li><a href="/produto/entrada" style="background-color: #02a702;">Entrada estoque</a></li>
        <li><a href="/produto/saida" style="background-color: #008300;">Saida estoque</a></li>
    </ul>
</nav>
