<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Simples</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='entrada.css') }}">
    <link rel="shortcut icon" href="../static/assets/logo.png" type="image/x-icon">
</head>
<body>
    {% include "componentes/navbar.html" with context %}
    <div class="content">
        <div class="entrada">
            <span class="titulo">Adicionar produto</span>
            <form action="/produto/entrada" method="post" id="form-principal">
                <!-- Produto -->
                <label for="produto" id="label-produto">Produto</label>
                <input list="produtos" id="produto" name="produto" value="" required>
                <datalist id="produtos">
                    {% if produtos %}
                        {% for produto in produtos %}
                            <option value="{{ produto.produto }}" data-ovalue="{{ produto.id }}"></option>
                        {% endfor %}
                    {% endif %}
                </datalist>
                <input type="hidden" id="ovalue" name="ovalue" value="">

                <!-- Quantidade do produto -->
                <label for="qtd" id="label-qtd">Quantidade</label>
                <input type="number" name="qtd" id="qtd" required>

                <span id="msg">{{ msg }}</span>

                <!-- Carrinho com as informações de compra -->
                <input type="hidden" id="carrinhos" name="carrinhos" value='{{ carrinhos }}'>

                <div>
                    <button type="submit">Adicionar</button>
                    <button type="button" onclick="finalizar()">Finalizar</button>  
                </div>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody>
                    {% if carrinhos %}
                    {% for carrinho in carrinhos %}
                    <tr>
                        <td>{{ carrinho.produto }}</td>
                        <td>{{ carrinho.valor }}</td>
                        <td>{{ carrinho.quantidade }}</td>
                        <td>{{ carrinho.real }}</td>
                        <td>
                            <form action="/produto/entrada/remove" method="post">
                                <input type="hidden" name="carrinhos" value='{{ carrinhos }}'>
                                <input type="hidden" name="remover" value="{{ carrinho.id }}">
                                <button type="submit" class="remove">Remover</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/entrada.js') }}"></script>
</body>
</html>
